DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=tasks

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJobWlmYWFqYWJhZHl1aWZyZXJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5Mzk0MTEsImV4cCI6MjEwMTUxNTQxMX0.wfKEFvKbDM0O9HDIr362YljF4XI0JAZqYZETXAxTHc4
PORT=3000